services:
  mongo:
    container_name: mongo
    image: mongo:latest
    restart: on-failure
    environment:
      - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
      - GOSU_VERSION=1.12
      - JSYAML_VERSION=3.13.1
      - MONGO_PACKAGE=mongodb-org
      - MONGO_REPO=repo.mongodb.org
      - MONGO_MAJOR=6.0
      - MONGO_VERSION=6.0.3
      - HOME=/data/db
    volumes:
      - /data/configdb
      - /data/db
    ports:
      - "27017:27017"

  app-backend-financial:
    container_name: app-backend-financial
    depends_on:
      - mongo
    image: financial-planning:latest
    restart: on-failure
    environment:
      #OTEL_JAVAAGENT_DEBUG: true
      OTEL_EXPORTER_OTLP_ENDPOINT: 'https://20fd5b4c700d4377b7b1b97229539656.apm.us-central1.gcp.cloud.es.io:443'
      OTEL_EXPORTER_OTLP_METRICS_HEADERS: Authorization=Bearer TI8chvPYR6u86v0QV5
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER_OTLP: otlp
      OTEL_SERVICE_NAME: planejamento-financeiro-v1
      SPRING_APPLICATION_JSON: '{
            "spring.data.mongodb.host":"app_db",
            "spring.data.mongodb.port":27017,
            "spring.data.mongodb.database":"planejamento-financeiro"
          }'
    ports:
      - "8080:8080"
    links:
      - mongo:app_db


